[Unit]
Description=Dash Server for Budget Constraints (bcd)
After=network.target remote-fs.target nss-lookup.target

[Service]
# Type=forking
User=apiuser
EnvironmentFile=home/apiuser/julia/vw/Visualisations/julia/vw/etc/environment
WorkingDirectory=/home/apiuser/julia/vw/Visualisations/

# The PID file is optional, but recommended in the manpage
# "so that systemd can identify the main process of the daemon"
PIDFile=/run/bcd.pid
# ExecStart=/home/graham_s/bin/bcd.sh
ExecStart=/home/apiuser/.juliaup/bin/julia --project=. --startup-file=no -t auto /home/apiuser/julia/vw/Visualisations/src/bcd.jl
ExecStop=/bin/kill -WINCH ${MAINPID}
KillSignal=SIGKILL
PrivateTmp=true

[Install]
WantedBy=multi-user.target
